body {
    background-color: #C1D5EE;
    font-family: 'Rubik', sans-serif;
}

.Login {
    text-align: center;
    margin-top: 250px;
    border: 0;
    
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

input {
    text-align: left;
    border: 2px solid grey;
    border-radius: 5%;
}