*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body{
    background: #C1D5EE;
    font-family: 'Rubik', sans-serif;
}

.h1 {
    padding: 25px 35px;
    font-weight: 300;
}

.Register-form{
    width:500px;
    margin: 65px auto;
    display: -webkit-box;  
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
}

.input-field{
    padding: 12px 5px;
  }

.content{
    padding:35px;
    text-align: center;
}

.input-field input{
    font-size: 16px;
    display: block;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 8px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
    
}

.action{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}
.action button {
    width: 50%;
    padding: 6px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;

}